@use "./variables/colors" as *;
@use "./variables/fonts" as *;
@use "./variables/component" as *;
@use "./helpers/mixins" as *;

//Start component
.block-more {
  .title-more {
    color: $title-color;
    font-size: 12px;
  }
}
.image-more {
  margin-inline-start: 5px;
  opacity: 0;
  transform: translateX(-10px);
  transition: 0.7s;
  color: $main-color;
}
//End component
// Start from page About Doctor at section intervertion offered
// Start Page About Doctor
//Start Intervertion Offerd
.offered-customed {
  background-color: #f4f9fb;
  padding: 20px;
  @extend %main-border;
}
.offered-head {
  .site-heading {
    justify-content: start;
  }

  .offered-subtitle {
    font-size: 32px;
    font-weight: 600;
    color: $title-color;
    @include widthScreen(mobile) {
      font-size: 26px;
    }
  }
  p {
    @include parg;
  }
}
.inline-img-title h3 {
  font-size: 18px;
  color: $title-color;
}
.offered-parg {
  @include parg;

  .break-circle {
    width: 15px;
    height: 15px;
    background-color: transparent;
    color: #2e546c;
    svg {
      font-size: 7px;
    }
  }
}
//End Intervertion Offerd

// Start Qualifications Section
.qualifications {
  .site-heading {
    justify-content: start;
  }
}

.quali-item {
  @extend %main-border;
  padding: 20px;
  h3 {
    font-size: 18px;
    color: $title-color;
    font-weight: 300;
  }
  p {
    @include parg;
  }
}

// End Qualifications Section
//Start Publications Section
.publications {
  background-color: #f4f9fb;
  .big-circle-shape {
    left: 94%;
    top: 0;
  }
  .another-big-circle-shape {
    left: 10%;
    top: 15px;
  }
  .small-circle-shape {
    left: 10px;
    bottom: 10px;
  }
}
.publications-title {
  @include title-section;
}
.new-stethoscope {
  position: absolute;
  left: 50%;

  img {
    z-index: -1;
    position: absolute;
    top: -30px;
  }
}

.publi-desc {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 50px;
  padding: 20px;
  border-top-left-radius: 15px;
}

.publi-block {
  .publi-title {
    font-size: 16px;
    font-weight: 300;
    color: $title-color;
  }
  .publi-parg {
    font-size: 15px;
    font-style: italic;
    color: #5f799b;
    font-weight: normal;
    line-height: 1.9;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 7px;
  }
  .more {
    font-size: 12px;
    color: $main-color;
    cursor: pointer;
    figure {
      font-size: 10px;
    }
  }
}
.publi-image {
  img {
    width: 100%;
  }
}

//End Publications Section
//Start Affiliations Section

.affiliations {
  .site-heading {
    justify-content: start;
  }
}
.affili-block {
  cursor: pointer;
  @extend %main-border;
  padding: 20px;
  height: 212px;
  .affili-block-title {
    font-size: 16px;
    color: $title-color;
  }

  img {
    width: 100%;
  }
}
//End Affiliations Section
//Start insurers
.insurers {
  padding-bottom: 150px;
  background-color: $background-color-section;
}
.insurers,
.affiliations {
  .swiper-pagination {
    top: 90% !important;
    left: 50% !important;
    flex-direction: column !important;
    width: auto !important;
    gap: 10px;
  }

  .swiper-pagination .swiper-pagination-bullet {
    height: 8px !important;
    width: 30px !important;
    border-radius: 20px !important;
    background-color: #bae3ef !important;
    opacity: 1 !important;
  }

  .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    height: 10px !important;
    background-color: $main-color !important;
  }
  .swiper {
    padding-bottom: 50px;
  }
}

.insurers-title {
  @include title-section;
}
.insurers-block {
  cursor: pointer;
  @extend %main-border;
  padding: 20px;
  height: 130px;
  background-color: #fff;
  figure {
    margin: 0;
    img {
      width: 100%;
    }
  }
}
//End insurers
// End Page About Doctor

//Start Page Services

.p-services-home-main-services {
  background-color: $background-color-section;
  padding-bottom: 100px;
  .home-main-services-image-box {
    margin-bottom: 110px;
  }
  .small-circle-shape {
    top: 5px;
    left: 30px;
  }
}
//End Page Services
//Start page shoulder pain
.services-branches {
  padding-bottom: 110px;
  background-color: $background-color-section;
  @include widthScreen(medium) {
    padding: 0 50px;
  }
  @include widthScreen(small) {
    padding: 0;
  }
}
.shoulder-pain-wrapper .row {
  @include widthScreen(medium) {
    flex-direction: column-reverse;
  }
}
.other-services {
  @include widthScreen(medium) {
    padding-bottom: 130px;
  }
}
.other-pain-image-wrapper {
  flex-shrink: 0;
  width: 140px;
  padding: 0;
  height: 115px;
  border-radius: 10px;
  margin: 0;
  overflow: hidden;

  img {
    @include image-format;
    border-radius: 10px;
    transition: 0.6s;
  }
}
.block-other-pains {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  gap: 10px;
  &:hover {
    .image-more {
      opacity: 1;
      transform: unset !important;
    }
    .title-more {
      color: $main-color;
    }
    .other-pain-image-wrapper img {
      transform: scale(1.1);
    }
  }
}

.other-pains-desc {
  .title {
    font-size: 18px;
    font-weight: 600;
    color: $title-color;
    margin: 0;
    @include widthScreen(mobile) {
      font-size: 14px;
    }
  }
  p {
    @include parg;
    margin: 0;
    @include widthScreen(mobile) {
      font-size: 12px;
      line-height: normal;
    }
  }
}
.single-content {
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 20px;
  .single-image-wrapper {
    margin-bottom: 23px;
    border-radius: 20px;
    overflow: hidden;
    img {
      @include image-format;
    }
  }
  .single-title {
    @include title-section;
  }
  .single-page-content ul * {
    @include parg;
  }
}

//End page shoulder pain
// Start page vidoes/media
.main-page-video {
  background-color: $background-color-section;
  padding-bottom: 140px;
  .main-videos {
    .subtitle {
      @include title-section;
      text-align: center;
      padding-bottom: 50px;
    }
  }
  .small-circle-shape {
    left: 31px;
    bottom: 304px;
  }
  .another-small-circle-shape {
    left: 107px;
    bottom: 230px;
  }
  .big-circle-shape {
    left: -43px;
  }
}
.block-video {
  position: relative;
  ::before {
    position: absolute;
    content: "";
    background-color: rgb(0 183 235 / 30%);
    width: 100%;
    height: 100%;
    transition: 0.6s;
  }
  ::after {
    position: absolute;
    font-family: "Font Awesome 6 Free";
    content: "\f144";
    top: 50%;
    left: 50%;
    font-size: 35px;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: #75959c4a;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
  }
  :hover {
    &::before {
      background-color: inherit;
    }
    &::after {
      background-color: $main-color;
    }
  }
  overflow: hidden;
  img {
    @include image-format;
  }
}
// End page vidoes/media
//Start Blog page
.blog-page {
  padding-bottom: 100px;
  .small-circle-shape {
    left: 74px;
    top: 32px;
    @include widthScreen(mobile) {
      left: 25px;
    }
  }

  .big-circle-shape {
    left: -43px;
    top: 95%;
    @include widthScreen(mobile) {
      top: 97%;
    }
  }
}
//End Blog page
//Start Other Blog page
.blogs-branches {
  background-color: $background-color-section;
  padding-bottom: 100px;
}
.other-blogs {
  @include widthScreen(medium) {
    width: 70%;
    margin: auto;
  }
  @include widthScreen(mobile) {
    width: 100%;
  }
  .other-blogs-wrapper {
    background-color: #fff;
    padding: 10px 0;
    border-radius: 25px;
  }
}

.single-blog {
  margin: 0;
  padding: 7px 50px 7px 10px;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background-color: $main-color;
    border-radius: 10px;
  }
  p,
  figure {
    margin: 0;
  }
  p {
    position: relative;
    @include parg;
    padding: 10px;
    border-right: 1px solid #eee;
    &::after {
      position: absolute;
      font-family: "Font Awesome 6 Free";
      content: "\f0da";
      font-weight: 900;
      font-size: 30px;
      color: #e6e6e6;
      right: -35px;
      top: -5px;
    }
  }

  &:hover {
    p {
      color: #fff;
    }
  }
  figure {
    font-size: 30px;
    svg {
      color: #e6e6e6;
    }
  }
}
.blogs-branches-wrapper {
  .row {
    @include widthScreen(medium) {
      flex-direction: column-reverse;
    }
    .blog-box {
      .row {
        @include widthScreen(medium) {
          flex-direction: row;
        }
      }
    }
  }
  .blog-box {
    padding: 10px;
    .secondary-image {
      img {
        @include image-format;
      }
    }
    .image-desc {
      .italic-parg {
        font-family: "Segoe UI";
        font-size: 18px;
        font-style: italic;
        font-weight: 600;
        color: $title-color;
      }
    }
    .secondary-parg {
      @include parg;
    }
    .social-card {
      border-top: 1px solid #e2dede;
      padding-top: 10px;
      .number-seen {
        @include parg;
        border-right: 1px solid#E2DEDE;
        .icon-eye {
          color: $main-color;
        }
      }
      .social-share {
        .title {
          @include parg;
          font-size: 12px;
        }
        .icons {
          font-size: 20px;

          .facebook-icon {
            color: #1877f2;
            cursor: pointer;
          }
          .twitter-icon {
            color: #3cddf4;
            cursor: pointer;
          }
          .google-icon {
            color: #ff5f81;
            cursor: pointer;
          }
        }
      }
    }
  }
}

//End Other Blog page

//Start Contact Page
.main-contact {
  padding-bottom: 100px;
  background-color: $background-color-section;
}
.main-contact-wrapper {
  .location-desc {
    @include widthScreen(medium) {
      text-align: center;
    }
    .site-heading {
      justify-content: left;
      @include widthScreen(medium) {
        justify-content: center;
      }
    }
    .subtitle {
      @include title-section;
      font-size: 36px;
      @include widthScreen(mobile) {
        font-size: 26spx;
      }
    }
  }
  .contact-info-block {
    margin: 0;
    input[type="tel"],
    textarea {
      padding: 10px;
      width: 100%;
      border-radius: 20px;
      border: 1px solid #cde4eb;
      outline: none;
      transition: 0.3s;
      resize: none;
      &::placeholder {
        @include parg;
      }
      &:focus {
        border-color: $main-color;
        caret-color: $main-color;
      }
    }
    .contact-card {
      padding: 9px;
      width: 100%;
      border-radius: 20px;
      border: 1px solid #cde4eb;
      .card-title,
      .after-card-title {
        @include parg;
        position: relative;
        &::after {
          position: absolute;
          content: "\f078";
          font-family: "Font Awesome 6 Free";
          font-weight: 900;
          top: 0;
          right: 0;
          transition: var(--main-transition);
        }
      }
    }
  }
  input[type="submit"] {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #cde4eb;
    outline: none;
    background-color: $main-color;
    color: #fff;
  }
}

.card-drop {
  @extend %main-border;
  border-top: none;
  .dropdown-contact {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    & li a {
      padding: 10px;
      border-radius: 10px;
      transition: 0.3s;
      &:hover {
        background-color: $main-color;
        color: #fff;
      }
    }
  }
}

.rotate-after-card-title::after {
  transform: rotate(180deg);
}
.parg {
  @include parg;
}

//End Contact Page
