.offered-customed, .quali-item, .affili-block, .insurers-block, .card-drop {
  border: 1px solid #caebf5;
  border-radius: 20px;
}

.block-more .title-more {
  color: #1c3b4f;
  font-size: 12px;
}

.image-more {
  margin-inline-start: 5px;
  opacity: 0;
  transform: translateX(-10px);
  transition: 0.7s;
  color: #00b7eb;
}

.offered-customed {
  background-color: #f4f9fb;
  padding: 20px;
}

.offered-head .site-heading {
  justify-content: start;
}
.offered-head .offered-subtitle {
  font-size: 32px;
  font-weight: 600;
  color: #1c3b4f;
}
.offered-head p {
  font-size: 14px;
  font-weight: normal;
  color: #5f799b;
  line-height: 1.9;
}

.inline-img-title h3 {
  font-size: 18px;
  color: #1c3b4f;
}

.offered-parg {
  font-size: 14px;
  font-weight: normal;
  color: #5f799b;
  line-height: 1.9;
}
.offered-parg .break-circle {
  width: 15px;
  height: 15px;
  background-color: transparent;
  color: #2e546c;
}
.offered-parg .break-circle svg {
  font-size: 7px;
}

.qualifications .site-heading {
  justify-content: start;
}

.quali-item {
  padding: 20px;
}
.quali-item h3 {
  font-size: 18px;
  color: #1c3b4f;
  font-weight: 300;
}
.quali-item p {
  font-size: 14px;
  font-weight: normal;
  color: #5f799b;
  line-height: 1.9;
}

.publications {
  background-color: #f4f9fb;
}
.publications .big-circle-shape {
  left: 94%;
  top: 0;
}
.publications .another-big-circle-shape {
  left: 10%;
  top: 15px;
}
.publications .small-circle-shape {
  left: 10px;
  bottom: 10px;
}

.publications-title {
  text-transform: capitalize;
  font-size: 26px;
  font-weight: 600;
  color: #1c3b4f;
}

.new-stethoscope {
  position: absolute;
  left: 50%;
}
.new-stethoscope img {
  z-index: -1;
  position: absolute;
  top: -30px;
}

.publi-desc {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 50px;
  padding: 20px;
  border-top-left-radius: 15px;
}

.publi-block .publi-title {
  font-size: 16px;
  font-weight: 300;
  color: #1c3b4f;
}
.publi-block .publi-parg {
  font-size: 15px;
  font-style: italic;
  color: #5f799b;
  font-weight: normal;
  line-height: 1.9;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 7px;
}
.publi-block .more {
  font-size: 12px;
  color: #00b7eb;
  cursor: pointer;
}
.publi-block .more figure {
  font-size: 10px;
}

.publi-image img {
  width: 100%;
}

.affiliations .site-heading {
  justify-content: start;
}

.affili-block {
  cursor: pointer;
  padding: 20px;
  height: 212px;
}
.affili-block .affili-block-title {
  font-size: 16px;
  color: #1c3b4f;
}
.affili-block img {
  width: 100%;
}

.insurers {
  padding-bottom: 150px;
  background-color: #ebfafe;
}

.insurers .swiper-pagination,
.affiliations .swiper-pagination {
  top: 90% !important;
  left: 40% !important;
  flex-direction: column !important;
  width: auto !important;
  gap: 10px;
}
.insurers .swiper-pagination .swiper-pagination-bullet,
.affiliations .swiper-pagination .swiper-pagination-bullet {
  height: 10px !important;
  width: 35px !important;
  border-radius: 20px !important;
  background-color: #bae3ef !important;
  opacity: 1 !important;
}
.insurers .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,
.affiliations .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  height: 12px !important;
  background-color: #00b7eb !important;
}
.insurers .swiper,
.affiliations .swiper {
  padding-bottom: 50px;
}

.insurers-title {
  text-transform: capitalize;
  font-size: 26px;
  font-weight: 600;
  color: #1c3b4f;
}

.insurers-block {
  cursor: pointer;
  padding: 20px;
  height: 130px;
  background-color: #fff;
}
.insurers-block figure {
  margin: 0;
}
.insurers-block figure img {
  width: 100%;
}

.p-services-home-main-services {
  background-color: #ebfafe;
  padding: 100px;
}
.p-services-home-main-services .home-main-services-image-box {
  margin-bottom: 110px;
}
.p-services-home-main-services .small-circle-shape {
  top: 5px;
  left: 30px;
}

.services-branches {
  padding-bottom: 110px;
  background-color: #ebfafe;
}
@media (max-width: 991px) {
  .services-branches {
    padding: 0 50px;
  }
}

@media (max-width: 991px) {
  .shoulder-pain-wrapper .row {
    flex-direction: column-reverse;
  }
}

@media (max-width: 991px) {
  .other-services {
    padding-bottom: 130px;
  }
}

.other-pain-image-wrapper {
  flex-shrink: 0;
  width: 140px;
  padding: 0;
  height: 115px;
  border-radius: 10px;
  margin: 0;
  overflow: hidden;
}
.other-pain-image-wrapper img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transition: 0.6s;
}

.block-other-pains {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  gap: 10px;
}
.block-other-pains:hover .image-more {
  opacity: 1;
  transform: unset !important;
}
.block-other-pains:hover .title-more {
  color: #00b7eb;
}
.block-other-pains:hover .other-pain-image-wrapper img {
  transform: scale(1.1);
}

.other-pains-desc .title {
  font-size: 18px;
  font-weight: 600;
  color: #1c3b4f;
  margin: 0;
}
.other-pains-desc p {
  font-size: 14px;
  font-weight: normal;
  color: #5f799b;
  line-height: 1.9;
  margin: 0;
}

.single-content {
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 20px;
}
.single-content .single-image-wrapper {
  margin-bottom: 23px;
  border-radius: 20px;
  overflow: hidden;
}
.single-content .single-image-wrapper img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.single-content .single-title {
  text-transform: capitalize;
  font-size: 26px;
  font-weight: 600;
  color: #1c3b4f;
}
.single-content .single-page-content ul * {
  font-size: 14px;
  font-weight: normal;
  color: #5f799b;
  line-height: 1.9;
}

.main-page-video {
  background-color: #ebfafe;
  padding-bottom: 140px;
}
.main-page-video .main-videos .subtitle {
  text-transform: capitalize;
  font-size: 26px;
  font-weight: 600;
  color: #1c3b4f;
  text-align: center;
  padding-bottom: 50px;
}
.main-page-video .small-circle-shape {
  left: 31px;
  bottom: 304px;
}
.main-page-video .another-small-circle-shape {
  left: 107px;
  bottom: 230px;
}
.main-page-video .big-circle-shape {
  left: -43px;
}

.block-video {
  position: relative;
  overflow: hidden;
}
.block-video ::before {
  position: absolute;
  content: "";
  background-color: rgba(0, 183, 235, 0.3);
  width: 100%;
  height: 100%;
  transition: 0.6s;
}
.block-video ::after {
  position: absolute;
  font-family: "Font Awesome 6 Free";
  content: "\f144";
  top: 50%;
  left: 50%;
  font-size: 35px;
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: rgba(117, 149, 156, 0.2901960784);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
}
.block-video :hover::before {
  background-color: inherit;
}
.block-video :hover::after {
  background-color: #00b7eb;
}
.block-video img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-page {
  padding-bottom: 100px;
}
.blog-page .small-circle-shape {
  left: 74px;
  top: 32px;
}
.blog-page .big-circle-shape {
  left: -43px;
  top: 95%;
}

.blogs-branches {
  background-color: #ebfafe;
  padding-bottom: 100px;
}

@media (max-width: 991px) {
  .other-blogs {
    width: 70%;
    margin: auto;
  }
}
@media (max-width: 450px) {
  .other-blogs {
    width: 100%;
  }
}
.other-blogs .other-blogs-wrapper {
  background-color: #fff;
  padding: 10px 0;
  border-radius: 25px;
}

.single-blog {
  margin: 15px 0;
  padding: 10px 50px 10px 10px;
  transition: 0.3s;
  cursor: pointer;
}
.single-blog:hover {
  background-color: #00b7eb;
  border-radius: 10px;
}
.single-blog p,
.single-blog figure {
  margin: 0;
}
.single-blog p {
  position: relative;
  font-size: 14px;
  font-weight: normal;
  color: #5f799b;
  line-height: 1.9;
  padding: 10px;
  border-right: 1px solid #eee;
}
.single-blog p::after {
  position: absolute;
  font-family: "Font Awesome 6 Free";
  content: "\f0da";
  font-weight: 900;
  font-size: 30px;
  color: #e6e6e6;
  right: -35px;
  top: -5px;
}
.single-blog:hover p {
  color: #fff;
}
.single-blog figure {
  font-size: 30px;
}
.single-blog figure svg {
  color: #e6e6e6;
}

@media (max-width: 991px) {
  .blogs-branches-wrapper .row {
    flex-direction: column-reverse;
  }
}
@media (max-width: 991px) {
  .blogs-branches-wrapper .row .blog-box .row {
    flex-direction: row;
  }
}
.blogs-branches-wrapper .blog-box {
  padding: 10px;
}
.blogs-branches-wrapper .blog-box .secondary-image img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blogs-branches-wrapper .blog-box .image-desc .italic-parg {
  font-family: "Segoe UI";
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  color: #1c3b4f;
}
.blogs-branches-wrapper .blog-box .secondary-parg {
  font-size: 14px;
  font-weight: normal;
  color: #5f799b;
  line-height: 1.9;
}
.blogs-branches-wrapper .blog-box .social-card {
  border-top: 1px solid #e2dede;
  padding-top: 10px;
}
.blogs-branches-wrapper .blog-box .social-card .number-seen {
  font-size: 14px;
  font-weight: normal;
  color: #5f799b;
  line-height: 1.9;
  border-right: 1px solid #E2DEDE;
}
.blogs-branches-wrapper .blog-box .social-card .number-seen .icon-eye {
  color: #00b7eb;
}
.blogs-branches-wrapper .blog-box .social-card .social-share .title {
  font-size: 14px;
  font-weight: normal;
  color: #5f799b;
  line-height: 1.9;
  font-size: 12px;
}
.blogs-branches-wrapper .blog-box .social-card .social-share .icons {
  font-size: 20px;
}
.blogs-branches-wrapper .blog-box .social-card .social-share .icons .facebook-icon {
  color: #1877f2;
  cursor: pointer;
}
.blogs-branches-wrapper .blog-box .social-card .social-share .icons .twitter-icon {
  color: #3cddf4;
  cursor: pointer;
}
.blogs-branches-wrapper .blog-box .social-card .social-share .icons .google-icon {
  color: #ff5f81;
  cursor: pointer;
}

.main-contact {
  padding-bottom: 100px;
  background-color: #ebfafe;
}

@media (max-width: 991px) {
  .main-contact-wrapper .location-desc {
    text-align: center;
  }
}
.main-contact-wrapper .location-desc .site-heading {
  justify-content: left;
}
@media (max-width: 991px) {
  .main-contact-wrapper .location-desc .site-heading {
    justify-content: center;
  }
}
.main-contact-wrapper .location-desc .subtitle {
  text-transform: capitalize;
  font-size: 26px;
  font-weight: 600;
  color: #1c3b4f;
  font-size: 36px;
}
.main-contact-wrapper .contact-info-block {
  margin: 0;
}
.main-contact-wrapper .contact-info-block input[type=tel],
.main-contact-wrapper .contact-info-block textarea {
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #cde4eb;
  outline: none;
  transition: 0.3s;
  resize: none;
}
.main-contact-wrapper .contact-info-block input[type=tel]::-moz-placeholder, .main-contact-wrapper .contact-info-block textarea::-moz-placeholder {
  font-size: 14px;
  font-weight: normal;
  color: #5f799b;
  line-height: 1.9;
}
.main-contact-wrapper .contact-info-block input[type=tel]::placeholder,
.main-contact-wrapper .contact-info-block textarea::placeholder {
  font-size: 14px;
  font-weight: normal;
  color: #5f799b;
  line-height: 1.9;
}
.main-contact-wrapper .contact-info-block input[type=tel]:focus,
.main-contact-wrapper .contact-info-block textarea:focus {
  border-color: #00b7eb;
  caret-color: #00b7eb;
}
.main-contact-wrapper .contact-info-block .contact-card {
  padding: 9px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #cde4eb;
}
.main-contact-wrapper .contact-info-block .contact-card .card-title,
.main-contact-wrapper .contact-info-block .contact-card .after-card-title {
  font-size: 14px;
  font-weight: normal;
  color: #5f799b;
  line-height: 1.9;
  position: relative;
}
.main-contact-wrapper .contact-info-block .contact-card .card-title::after,
.main-contact-wrapper .contact-info-block .contact-card .after-card-title::after {
  position: absolute;
  content: "\f078";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  top: 0;
  right: 0;
  transition: var(--main-transition);
}
.main-contact-wrapper input[type=submit] {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #cde4eb;
  outline: none;
  background-color: #00b7eb;
  color: #fff;
}

.card-drop {
  border-top: none;
}
.card-drop .dropdown-contact {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
}
.card-drop .dropdown-contact li a {
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
}
.card-drop .dropdown-contact li a:hover {
  background-color: #00b7eb;
  color: #fff;
}

.rotate-after-card-title::after {
  transform: rotate(180deg);
}

.parg {
  font-size: 14px;
  font-weight: normal;
  color: #5f799b;
  line-height: 1.9;
}/*# sourceMappingURL=test.css.map */