@mixin title-section {
  font-size: 26px;
  font-weight: 600;
  color: #1c3b4f;
}
@mixin parg {
  font-size: 14px;
  font-weight: normal;
  color: #5f799b;
  line-height: 1.9;
}

@mixin widthScreen($point) {
  @if $point == mobile {
    @media (max-width: 450px) {
      @content;
    }
  } @else if $point == small {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $point == medium {
    @media (max-width: 991px) {
      @content;
    }
  } @else if $point == large {
    @media (min-width: 1200px) {
      @content;
    }
  }
}
